py_modules
.DS_Store
# Repo-specific GitIgnore ----------------------------------------------------------------------------------------------
*.jpg
*.jpeg
.venv
*.png
!seg.png
*.bmp
*.tif
*.tiff
*.heic
*.JPG
*.JPEG
*.PNG
*.BMP
*.TIF
*.TIFF
*.HEIC
*.mp4
*.txt
!requirements.txt
*.mov
*.dcm
*.MOV
*.avi
*.npy
*.data
*.json
*.code-workspace
**/__pycache__
model
result/
results/
output_logs_archive/
archives/
pretrained_models/
HeadNeck_GTV/pretrained_models
eval_models